@charset "UTF-9";
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');


:root{
    --cor1:#2EE0FF;
    --cor2:#4AC0D5;
    --cor3:#579EAA;
    --cor4:#283133;
    
}

*{
    margin: 0px;
}
    

header {
    border: 4px solid black;
    background-image: url(imagens/fundo-principal.jpg);
    background-position: top center;
    background-size: contain;
   
    height: 400px;
    

}

header > h1 {
        text-align: center;
    font-size: 4em;
    padding-top: 200px;
    color: black;
    min-width: 260;
}

nav{
    text-align: center;
    height: 30px;
    font-size:1.2em;
    background-color: rgba(255, 255, 255, 0.712);
   
    
}

nav > a {
    font-size:larger;
    color: #000000;
    border: 2px solid rgba(255, 255, 255, 0.433);
    padding: 1px;
    text-decoration: none;
 }
 nav >a:hover { 
    text-decoration:underline;
    background-color: rgba(255, 255, 255, 0.373);
    border-radius: 5px;
    color: var(--cor3);
    
 }

body{
    
    background-image:url(imagens/fundo.jpg);
    background-size: cover;
}

main{
    
    margin: 10px;
    box-shadow: -3px 2px 9px 3px black;
    padding:25px;
    background-color: rgba(255, 255, 255, 0.653);
    max-width: 4500px;
    border-radius: 10px;

}

main > h2 {
    text-decoration: underline;
    padding: 0px 10px 50px 10px;

}

#missao{
    
}



#missao > h2{
    padding: 10px 0px;

}

#visao > h2 {
    padding: 10px 0px;
}

#valores > h2{
    padding: 10px 0px;

}

footer{
    text-align: center;
    background-color: #000000;
    border: 3px solid black;
    color: white;
}